# Created by .ignore support plugin (hsz.mobi)
### NetBeans template
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
tests/
vendor/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
